#sfondo{
    background-color: rgba(10, 10, 220, 0.513);
    height: 150px;
}

.titolo{
    display: inline-block;
    color: white;
    width: 133px;
    height: 150px;
    border: 1px solid red;

}
    

div>h3{
    position: absolute;
    top: 40px;
}

.menu{
    display: inline-block;
    border: 1px solid red;
}
main>span{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: large;
}
